<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config />
    <import resource="daoContext.xml"/>

    <!-- YOGA CONFIG BEGIN -->
    <bean id="yogaBuilder" class="org.skyscreamer.yoga.builder.YogaBuilder"
        p:classFinderStrategy="#{new org.skyscreamer.yoga.classfinder.HibernateClassFinderStrategy()}"
        p:aliasProperties="classpath:selectorAlias.properties"
        p:outputCountLimit="2000"
        p:createYogaLinks="true"
        p:enableStarAsAllFields="true"
        >
        <property name="entityConfigurations">
            <list>
                <bean class="org.skyscreamer.yoga.demo.dto.UserConfiguration" />
            </list>
        </property>
        <property name="yogaMetaDataRegisteredClasses">
            <list>
                <value>org.skyscreamer.yoga.demo.model.Album</value>
                <value>org.skyscreamer.yoga.demo.model.Artist</value>
                <value>org.skyscreamer.yoga.demo.model.Song</value>
                <value>org.skyscreamer.yoga.demo.model.User</value>
            </list>
        </property>
    </bean>

    <!-- this is needed for the meta controller.  This will ensure backwards compatibility -->
    <bean name="metaDataRegistry" factory-bean="yogaBuilder" factory-method="getMetaDataRegistry" />

    <bean name="yogaViewFactory" class="org.skyscreamer.yoga.builder.YogaBuilderViewFactory"
        p:builder-ref="yogaBuilder" />

    <bean name="xml.view" factory-bean="yogaViewFactory" factory-method="createXmlSelectorView" />
    <bean name="xhtml.view" factory-bean="yogaViewFactory" factory-method="createXhtmlSelectorView" />
    <bean name="json.view" factory-bean="yogaViewFactory" factory-method="createStreamingJsonSelectorView" />
    <bean name="builder.view" factory-bean="yogaViewFactory" factory-method="createSelectorBuilderView" />

    <!-- YOGA CONFIG END -->
</beans>