<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/jdbc    http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

	<context:annotation-config />
	<context:component-scan base-package="org.skyscreamer.yoga.demo">
		<context:exclude-filter type="regex"
			expression="org.skyscreamer.yoga.demo.controller.*" />
		<context:exclude-filter type="regex"
			expression="org.skyscreamer.yoga.demo.view.*" />
	</context:component-scan>

	<jdbc:embedded-database id="dataSource" type="HSQL" />

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
		p:dataSource-ref="dataSource" p:packagesToScan="org.skyscreamer.yoga.demo.model">
		<property name="hibernateProperties">
			<value>
				hibernate.dialect = org.hibernate.dialect.HSQLDialect
				hibernate.cache.provider_class = org.hibernate.cache.HashtableCacheProvider
				hibernate.hbm2ddl.auto = update
				hibernate.show_sql = true
            </value>
		</property>
	</bean>

	<!-- This can normally be done via jdbc:init -->
	<bean id="dbInit" class="org.springframework.jdbc.datasource.init.DataSourceInitializer"
		p:dataSource-ref="dataSource" p:databasePopulator-ref="dbPopulator"
		 depends-on="sessionFactory">
	</bean>
	
	<bean id="dbPopulator" class="org.springframework.jdbc.datasource.init.ResourceDatabasePopulator" 
		p:scripts="classpath:sampledb.sql" />

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource" />

	<bean id="objectFieldPopulator" class="org.skyscreamer.yoga.mapper.ResultMapper"
		p:resultTraverser-ref="resultTraverser" />

</beans>